# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ main ]

jobs:
  ping_pong_function:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Starting localstack service
        run: docker-compose up -d localstack

      - name: terraform init
        run: docker-compose run terraform init
        
      - name: terraform validate
        run: docker-compose run terraform validate
        
      - name: terraform plan
        run: docker-compose run terraform plan
        
      - name: terraform apply
        run: docker-compose run terraform apply --auto-approve

      - name: checks if the service are up
        run: docker run --network container:localstack appropriate/curl -s --retry 10 --retry-connrefused http://localhost:4566/

      - name: Stops localstack service
        run: docker-compose down



